<div class="row g-3">
  <div class="col DtCompra">
    <label for="fname">Data da Compra:</label>
    <input id="dataDaCompra" class="form-control" type="date" value="<%= dadosParaViewDeCompra.dataEntrega %>" readonly>
  </div>

  <div class="col prevEntrega">
    <label for="fname">Previsão de Entrega:</label>
    <input id="previsaoDeEntrega" class="form-control" style="margin-bottom: 10%;" type="date"
      value="<%= dadosParaViewDeCompra.dataCompra %>" readonly>

  </div>
</div>
