<div class="topnav" id="myTopnav">
    <img src="/public/Fotos/it-one.png">
    <div style="display: inline;"><a class="nav-link"  style="text-decoration: none; color: white"><%=nome%></a></div>
</div>

<!-- <link rel="stylesheet" href="../../public/template/navbar/index.css"> -->
