<link rel="stylesheet" href="public/template/status/status2.css">

    <form action="#" class="form">
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        <div class="progress-step progress-step-active" data-title="Intro"></div>
        <div class="progress-step " data-title="Contact"></div>
        <div class="progress-step" data-title="ID"></div>
      </div>
      <a href="#" class="btn btn-next teste" id="teste">Next</a>
    </form>


