<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Buscar Notas' } ) %>

    <script src="/public/buscarNotas/buscarNotas.js"></script>
    <link rel="stylesheet" href="../../public/buscarNotas/buscarNotas.css">

    <body>

        <%- include('../components/menu', { solicitacoes, permissoes } ) %>

            <section class="home">
                <%- include('../components/navbar', { usuario: 'Gustavo' } ) %>
            


                <main class="text">

                    <div class="altera-titulo">
                        <h2 style="border-bottom: 1px solid #120947; margin-bottom: 25px; margin-top: 25px; padding: 13px 0">Notas Recebidas </h2>
                    </div>
                   
                    <p> </p>
                    <div class="row g-3">
                      <div class="col">
              
                        <input id="Descricao" for="Descricao" type="text" class="form-control" placeholder="Descricao Item"
                          aria-label="First name" style="font-size: 13px">
                      </div>
                      <div class="col">
                        <input id="Fornecedor" for="Fornecedor" type="text" class="form-control" placeholder="Fornecedor"
                          aria-label="Last name" style="font-size: 13px">
                      </div>
              
                    </div>
                    <p> </p>
                    <div class="row g-3">
                    <div class="col">
                      <input id="Solicitante" for="Solicitante" type="text" class="form-control" placeholder="Solicitante"
                        aria-label="Last name" style="font-size: 13px">
                    </div>
    
                    <div class="col">
                      <select class="form-control" id="CentroCusto" style="font-size: 13px">
                        <option selected readonly>Centro de Custo</option>
    
                      </select>
                    </div>
              </div>
                <p></p>
    
              <button class="button button2" onclick="listar()" type="submit"  role="button">🔍 Buscar</button>
              <p></p>
                    <div class="table-responsive">
              
                        <button id="openModal" data-toggle="modal" data-target="#myModal"></button>
    
                            <table class="table table-sm table-hover" id="myTable" >
              
                        <thead style="background-color: #e7e9f5; color: rgb(36, 26, 9);   font-size: 13px">
              
                          <th class="center"> ID do Envio</th>
                          <th> Solicitante</th>
                          <th> Centro de Custo</th>
                          <th> Fornecedor</th>
                          <th> Descrição do Serviço</th>
                          <th> Status</th>
                          <th> Tipo de Contrato </th>
                          <th> Tipo de Pagamento </th>
                          <th> Dados Bancários </th>
                          <th> Data de Pagamento </th>
                          <th> Deal </th>
                          <th> Colaborador </th>
                         
    
              
              
              
                        </thead>
              
                        <tbody id="tbody" style="font-size: 13px">
              
                        </tbody>
              
                      </table>
                    </div>
                    <div class="row g-2" style="margin-top: 1.5%">
                  
                    <div >
                        <button id="prev" onclick="prevPage()" class=" button2" >Anterior</button>
                    </div>
                    <div>
                        <button id="prox" onclick="proxPage()" class=" button2" style="margin-left: 5%" >Próxima</button>
                    </div>
                </div>
                    <button id="openModal" data-toggle="modal" data-target="#myModal"></button>
    
                    </div>
                  </main>
    
                  <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Detalhamento</h4>
                        </div>
                
                        <!-- Modal body -->
                        <div id="modalBody" class="modal-body">
                        </div>
       
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button> -->
                         
                            <div class="col">
                          <button id="salvarCompra" onclick="atualizarStatusNF()" class="btn btn-success" style="margin-right: 100%; ">Salvar</button>
                        </div>
                        <div class="col">
                          <button data-dismiss="modal" class=" button2"  style="margin-left: 65%; " >Fechar</button>
                        </div>
                  
                
                      </div>
                    </div>
                  </div>
            </section>

    </body>

</html>