<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Home' } ) %>
    <script src="/public/home/Home.js"></script>
    <link rel="stylesheet" href="../../public/home/Home.css">

    <body>

        <%- include('../components/menu') %>

            <section class="home">
                <%- include('../components/navbar', { usuario: 'Gustavo' } ) %>
                    <div class="text">
                        <h1 class="textoBody">Gestão de Compras</h1>

                        <p class="textoBody">Solicite e acompanhe o status das suas requisições</p>
                        <hr class="my-5">
                    </div>

            </section>

    </body>

</html>
