<!DOCTYPE html>
<html lang="en">


    <!-- <script src="/public/home/Home.js"></script> -->
    <link rel="stylesheet" href="../../public/home/Home.css">

    <body>

       
        <h1 style="color: black"> <%=qualquer%></h1>
            <section class="home">
               
                    <div class="text">
                        <h1 class="textoBody">Gestão de Compras</h1>
                        <p class="textoBody">Solicite e acompanhe o status das suas requisições</p>
                        <hr class="my-5">
                    </div>

            </section>

    </body>

</html>