/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #ffff;
    /* --body-color: #E4E9F7; */
    --barraLateral-color: #27417B;
    --primary-color: #ffffff;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #ffff;
    --text-color-body: #27417B;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --barraLateral-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}


body.dark .table-line {
    background-color: rgb(71, 70, 70);
    color: rgb(243, 243, 243);
   
    
}

body.dark th {
    background-color: rgb(43, 40, 40);
    color: rgb(243, 243, 243);
     
}
body.dark input,
body.dark select {
    background-color: rgb(43, 40, 40);
    color: rgb(255, 255, 255);
    }



    .button {
        align-items: center;
        appearance: none;
        background-color: #27417b;
        background-image: linear-gradient(1deg, #5275c0, #27417b 99%);
        background-size: calc(100% + 20px) calc(100% + 20px);
        border-radius: 100px;
        border-width: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: CircularStd, sans-serif;
        font-size: 12px;
        height: auto;
        justify-content: center;
        line-height: 1.5;
        padding: 10px 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s, background-position 0.2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap;
        margin-left: 93%;
      }

  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:hover {
    background-position: -20px -20px;
  }
  
  .button:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }




  .button2 {
    align-items: center;
    appearance: none;
    background-color: #27417B;
    background-image: linear-gradient(1deg, #5275c0, #27417B 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 14px;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 10px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-right: 91%;
  }

  .button2:active,
  .button2:focus {
    outline: none;
  }
  
  .button2:hover {
    background-position: -20px -20px;
  }
  
  .button2:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }
/* .textoBody {
    color: #18191a;
} */

/* ===== barraLateral ===== */
 .barraLateral{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--barraLateral-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.barraLateral.fechado{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.barraLateral li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.barraLateral header .image,
.barraLateral .icon{
    min-width: 60px;
    border-radius: 6px;
}

.barraLateral .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.barraLateral .text,
.barraLateral .icon{
    color: var(--text-color);
    /* alterar texto da barra lateral */
    transition: var(--tran-03);
}
.barraLateral .icon{
    color:lightblue;
}

.barraLateral .text{
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.barraLateral.fechado .text{
    opacity: 0;
}
/* =========================== */

.barraLateral header{
    position: relative;
}

/* .barraLateral header .image-text{
    display: flex;
    align-items: center;
} */
.barraLateral header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 14px;
    margin-top: -2px;
    display: block;
}

.barraLateral header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barraLateral header .image img{
    width: 40px;
    border-radius: 6px;
}

.barraLateral header .toggle{
    position: absolute;
    top: 280%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--barraLateral-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .barraLateral header .toggle{
    /* color: var(--text-color); */
    color: #0080ff;
}

.barraLateral.fechado .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.barraLateral .menu{
    margin-top: 40px;
}

.barraLateral li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.barraLateral li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    transition: var(--tran-05);
}
.barraLateral li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.barraLateral li a:hover{
    background-color: var(--primary-color);
}
.barraLateral li a:hover .icon,
.barraLateral li a:hover .text{
    color: var(--barraLateral-color);
}
body.dark .barraLateral li a:hover .icon,
body.dark .barraLateral li a:hover .text{
    color: var(--text-color);
}

.barraLateral .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.barraLateral .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--barraLateral-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    /* color: var(--text-color); */

    /* alterar cor titulo home */
    color: black;
    padding: 12px 60px;
}

.barraLateral.fechado ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
























.topnav {
    overflow: hidden;
    background-color: #27417B;
    border-radius: 30px;
    position: relative;
    width: 96%;
    right: -30px;
    top: 10px;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;


    /* width: 200px; */
    /* height: 150px;   */

}

img#foto {
    width: 100px;
    position: relative;
    top: 12px;
    right: -30px;


}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


th, td {
    min-width: auto;
    white-space: nowrap;
  
  }